@{
    ViewData["Title"] = "Home Page";
}

<div class="container" style="width: 100%; background-color: white;">
    <h1 class="pt-5 text-center mx-auto" style="font-size: 28px">MetalWork.by - платформа для размещения и поиска заказов в сфере металообработки.</h1>

    <div class="container row justify-content-center">
        <div class="col-sm ">
            <div class="px-5 pt-5 pb-3 my-5 text-center bg-light rounded">
                <h1 class="display-4 fw-bold" style="font-size: 32px">Я ЯВЛЯЮСЬ ЗАКАЗЧИКОМ</h1>
                <div class="mx-auto">
                    <p class="lead mb-4" style="font-size: 19px">Разместите заказ на изготовление изделий из металла и получайте лучшие предложения по цене и качеству из своего региона</p>
                
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">РАЗМЕСТИТЬ</button>
            </div>
        </div>

        <div class="col-sm">
            <div class="px-5 pt-5 pb-3 my-5 text-center  bg-light">
                <h1 class="display-4 fw-bold" style="font-size: 32px">Я ЯВЛЯЮСЬ ИСПОЛНИТЕЛЕМ</h1>
                <div class="mx-auto">
                    <p class="lead mb-4" style="font-size: 19px">Добавьте ваше предложение на сайт, укажите оказываемые услуги и получайте заявки на изготовление на прямую, без тендеров, закупок и посредников</p>
                </div>
            </div>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
                <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">ДОБАВИТЬ</button>
            </div>
        </div>
    </div>

    <div class="container row justify-content-center">
        <div class="col">
            <h1>Список хуйни 1</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="col">
            <h1>Список хуйни 2</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="">
            <h1>Список хуйни 3</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">First</th>
                        <th scope="col">Last</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>fat</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td colspan="2">Larry the Bird</td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>

        
    </div>
</div>
