@model ObrabotkaYes.Domain.ViewModels.OrderViewModel

@{
    ViewData["Title"] = "OrderAdd";
}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.css">
<link href="~/Scripts/dropzone.min.css" rel="stylesheet" />

<h1>OrderAdd</h1>

<h4>OrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderAdd" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" type="text" placeholder="name"/>
                <label asp-for="Name"></label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <select class="form-select" asp-for="Type_ID" asp-items="@ViewBag.OrderTypes"></select>
                <label asp-for="Type_ID" class="control-label"></label>
                <span asp-validation-for="Type_ID" class="text-danger"></span>
            </div>
            <br />
            <div class="input-group mb-3">
                <label asp-for="Categories" class="control-label"></label>
                <select 
                    class="form-select label ui selection fluid dropdown"
                    asp-for="Categories" 
                    asp-items="@ViewBag.Categories" 
                    multiple=""
                    placeholder="asdas"
                >
                </select>
                <span asp-validation-for="Categories" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" data-input/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <br />
            <div class="form-floating">
                <textarea asp-for="Description" class="form-control" placeholder="Leave description" style="height: 200px"></textarea>
                <label asp-for="Description" class="control-label"></label>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <br />

            <form method="post" action="/submit-mortgage" enctype="multipart/form-data" class="dropzone" id="myId">
                <div class="fallback">
                    <input asp-for="Uploads" type="file" multiple />
                </div>
            </form>
            <div class="dropzone" id="dropzone-form" name="mainFileUploader">
                <div class="fallback">
                    <input asp-for="Uploads" type="file" multiple />
                </div>
            </div>

@*            <div id="imageUpload" class="dropzone">
                <input name="file" type="file" multiple />
            </div>*@
            @*<div class="form-group">
                <label class="control-label" for="first-name">
                    Upload Photo <span class="required">*</span>
                </label>
                <div class="" id="dropzone">
                    <div action="/stock/Upload" class="dropzone" id="uploader">
                    </div>
                </div>
            </div>*@
@*            <div class="previews"></div>
            <div class="form-group">
                <label asp-for="Uploads" class="control-label"></label>
                <input class="form-control" asp-for="Uploads" type="file" name="uploads" multiple /><br>
                <span asp-validation-for="Uploads" class="text-danger"></span>
            </div>*@
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/Scripts/dropzone.min.js"></script>
    <script src="~/selector/js/jquery.min.js"></script>
    <script src="~/selector/js/popper.js"></script>
    <script src="~/selector/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.2.13/dist/semantic.min.js"></script>
    <script src="~/selector/js/main.js"></script>
    <link rel="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <script>
    <script type="text/javascript">
            Dropzone.options.dropzoneForm = {
            url: "/Order/OrderAdd",
                paramName: "file",
                    autoProcessQueue: false,
                        uploadMultiple: true,
                            parallelUploads: 100,
                                maxFiles: 100,
                                    acceptedFiles: "image/*",
                                        init: function () {

                                            var submitButton = document.querySelector("#submit-all");
                                            var wrapperThis = this;

                                            submitButton.addEventListener("click", function () {
                                                wrapperThis.processQueue();
                                            });

                                            this.on("addedfile", function (file) {

                                                // Create the remove button
                                                var removeButton = Dropzone.createElement("<button class='btn btn-lg dark'>Remove File</button>");

                                                // Listen to the click event
                                                removeButton.addEventListener("click", function (e) {
                                                    // Make sure the button click doesn't submit the form:
                                                    e.preventDefault();
                                                    e.stopPropagation();

                                                    // Remove the file preview.
                                                    wrapperThis.removeFile(file);
                                                    // If you want to the delete the file on the server as well,
                                                    // you can do the AJAX request here.
                                                });

                                                // Add the button to the file preview element.
                                                file.previewElement.appendChild(removeButton);
                                            });
                                            this.on("sending", function (file, response, formData) {
                                                formData.append("Name", $("#Name").val());
                                                formData.append("Files", file);
                                            });
                                            //this.on('sendingmultiple', function (data, xhr, formData) {
                                            //    formData.append("Name", $("#Name").val());
                                            //});
                                        }
        };
    </script>
}